.grid-container img:hover {
    position: relative;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1000;
}
* {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.line {
    width: 80%;
    position: absolute;
    left: 10%;
}
.name p {
    margin-bottom: 0em;
}
@media(min-width: 1801px) {
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 40px
    }
    .main_text {
        font-size: 1.5rem;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3.5rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3.5rem;
        margin-bottom: 0px;
    }
    .grid-container {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        row-gap: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
      } 
    .grid-container img {
        width: 350px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.3rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.4rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 35px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 30px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 35px;
        padding-bottom: 2px;
    }
}
@media (min-width: 1601px) and (max-width: 1800px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 40px
    }
    .main_text {
        font-size: x-large;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .grid-container {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        row-gap: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
      } 
    .grid-container img {
        width: 330px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.4rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.3rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 35px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 28px;
        padding-bottom: 5px;
    }
    p #gender2 {
        width: 35px;
        padding-bottom: 2px;
    }
}
@media (min-width: 1401px) and (max-width: 1600px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 40px
    }
    .main_text {
        font-size: x-large;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .grid-container {
        display: flex;
        justify-content: center;
        column-gap: 40px;
        row-gap: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
      } 
    .grid-container img {
        width: 300px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.3rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.25rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 35px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 28px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 32px;
        padding-bottom: 2px;
    }
}
@media (min-width: 1201px) and (max-width: 1400px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 40px
    }
    .main_text {
        font-size: x-large;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-size: 0.95rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5rem;
        margin-bottom: 0px;
    }
    .grid-container {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        row-gap: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
      } 
    .grid-container img {
        width: 270px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.25rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 34px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 26px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 30px;
        padding-bottom: 2px;
    }
}
@media (min-width: 991px) and (max-width: 1200px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 40px
    }
    .main_text {
        font-size: x-large;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-size: 0.85rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.3rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.3rem;
        margin-bottom: 0px;
    }
    .grid-container {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        row-gap: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
      }
      .grid-containerB {
        display: grid;
        justify-content: center;
        column-gap: 60px;
        row-gap: 30px;
        padding-top: 10px;
        padding-bottom: 50px;
        grid-template-columns: 300px 300px;
      } 
    .grid-container img {
        width: 300px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 32px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 23px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 28px;
        padding-bottom: 2px;
    }
}
@media (min-width: 768px) and (max-width: 990px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 30px
    }
    .main_text {
        font-size: larger;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.8rem;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .grid-container {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        row-gap: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
      }
      .grid-containerB {
        display: grid;
        justify-content: center;
        column-gap: 60px;
        row-gap: 30px;
        padding-top: 10px;
        padding-bottom: 50px;
        grid-template-columns: 250px 250px;
      } 
    .grid-container img {
        width: 250px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.95rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.15rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.15rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 30px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 22px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 25px;
        padding-bottom: 2px;
    }
}
@media (min-width: 600px) and (max-width: 767px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 30px
    }
    .main_text {
        font-size: larger;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-size: 0.9rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        margin-bottom: 0px;
    }
      .grid-container {
        display: grid;
        justify-content: center;
        column-gap: 60px;
        row-gap: 20px;
        padding-top: 10px;
        padding-bottom: 50px;
        grid-template-columns: 400px
      } 
    .grid-container img {
        width: 400px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.15rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.3rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.3rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 35px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 23px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 34px;
        padding-bottom: 2px;
    }
}
@media (min-width: 500px) and (max-width: 599px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 30px
    }
    .main_text {
        font-size: larger;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-size: 0.8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5rem;
        margin-bottom: 0px;
    }
      .grid-container {
        display: grid;
        justify-content: center;
        column-gap: 60px;
        row-gap: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
        grid-template-columns: 350px
      } 
    .grid-container img {
        width: 350px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.25rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.25rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 34px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 22px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 32px;
        padding-bottom: 2px;
    }
}
@media (min-width: 400px) and (max-width: 499px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 30px
    }
    .main_text {
        font-size: larger;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-size: 0.75rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.3rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.3rem;
        margin-bottom: 0px;
    }
      .grid-container {
        display: grid;
        justify-content: center;
        column-gap: 60px;
        row-gap: 7px;
        padding-top: 10px;
        padding-bottom: 50px;
        grid-template-columns: 300px
      } 
    .grid-container img {
        width: 300px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.15rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.15rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 32px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 21px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 30px;
        padding-bottom: 2px;
    }
}
@media (min-width: 300px) and (max-width: 399px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 30px
    }
    .main_text {
        font-size: larger;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-size: 0.7rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        margin-bottom: 0px;
    }
      .grid-container {
        display: grid;
        justify-content: center;
        column-gap: 60px;
        row-gap: 5px;
        padding-top: 10px;
        padding-bottom: 50px;
        grid-template-columns: 280px
      } 
    .grid-container img {
        width: 280px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.9rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.05rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.05rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 28px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 20px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 27px;
        padding-bottom: 2px;
    }
}
@media (max-width: 299px){
    .navbar {
        opacity: 75%;
    }
    .main_logo{
        width: 30px
    }
    .main_text {
        font-size: larger;
        padding-left: 5px;
        padding-right: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .main_odkazy{
        padding-top: 5.5px;
        font-size: 0.7rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0px;
    }
    .vrhA {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .vrhB {
        text-align: center;
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        margin-bottom: 0px;
    }
      .grid-container {
        display: grid;
        justify-content: center;
        column-gap: 60px;
        row-gap: 5px;
        padding-top: 10px;
        padding-bottom: 50px;
        grid-template-columns: 200px
      } 
    .grid-container img {
        width: 200px;
    }
    .container p{
        text-align: center;
    }
    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.75rem;
        margin-bottom: 0px;
    }
    .hlava {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.9rem;
        margin-bottom: 0px;
    }
    .realName {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.9rem;
        margin-bottom: 0px;
    }
    p #gender {
        width: 25px;
        padding-bottom: 2px;
    }
    p #sun {
        width: 18px;
        padding-bottom: 3px;
    }
    p #gender2 {
        width: 25px;
        padding-bottom: 2px;
    }
}